body{
  background-image: url(./blue\ 3.jfif);
  background-repeat:repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.code{
  justify-content: space-between;
  display: flex;
  background-color:grey;
  border-radius: 15px;
}
.code:hover{
  background-color: rgb(60, 59, 58);
  transition: background 0.3s;
}

.about{
  margin: 16px;
  background-color:grey ;
  padding:60px;
  width: 50%;
  border-radius: 80px;


}
.about:hover{
  background-color: rgb(60, 59, 58);
  transition: background 0.3s;
}
#about{
  width:90% ;
  margin: 30px;
  color:whitesmoke;
  margin-top: 30px;
  display: flex;
  padding: 12px;
  /* background-color: darkblue; */
  border-radius: 8px;

}
.project{
  margin: 16px;
  background-color:grey  ;
  padding:60px;
  width: 50%;
  border-radius: 80px;
}
.project:hover{
  background-color: rgb(60, 59, 58);
  transition: background 0.3s;
}
.interests{
  margin: 16px;
  background-color:grey ;
  padding:60px;
  width: 50%;
  border-radius: 80px;
}
.interests:hover{
  background-color: rgb(60, 59, 58);
  transition: background 0.3s;
}
#interests{
  width:90% ;
  margin: 12px;
  color:whitesmoke;
  margin-top: 10px;
  display: flex;
  /* background-color: black; */
  border-radius: 15px;
  padding: 15px;
  rotate: 40px;
}

.Skills{
  margin: 16px;
  background-color:grey  ;
  padding:60px;
  width: 50%;
  border-radius: 80px;
}
.Skills:hover{
  background-color: rgb(60, 59, 58);
  transition: background 0.3s;
}


.education{
  margin: 16px;
  background-color:grey ;
  padding:60px;
  width:80% ;
  padding: 0 10px;
  border-radius: 75px;
  text-align: center;
}
.education:hover{
  background-color: rgb(60, 59, 58);
  transition: background 0.3s;
}
#education{
  width: 90%;
  justify-content: space-around;
  margin: 25px;
  color:whitesmoke;
  margin-top: 10px;
  display: flex;
  padding: 15px;

}


.contact:hover{
  background-color: rgb(60, 59, 58);
  transition: background 0.3s;
}

footer {
  background-color:grey;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
}
footer:hover{
  background-color: rgb(60, 59, 58);
  transition: background 0.3s;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 10px;
}

footer p {
  margin: 0;
}

footer ul.social-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
}

footer ul.social-links li {
  margin: 0 10px;
}

footer ul.social-links li a {
  color: #fff;
  text-decoration: none;
}

footer ul.social-links li a:hover {
  text-decoration: underline;
}
